.cars-card {
  margin: 5px 0;
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  grid-template-rows: 80px;
  border-bottom: 4px dashed black;
  &-buttons {
    display: grid;
    grid-template-columns: max(70px) max(30px);
    grid-template-rows: repeat(2, 30px);
    grid-gap: 2px;
    align-self: end;
  }
  &-track {
    position: relative;
    align-self: end;
    &-name {
      position: absolute;
      text-transform: uppercase;
      text-shadow: 1px 2px 2px #cecece;
    }
  }
}
.car {
  position: relative;
  transform: translateX(0vw);
  transition: transform 0.3s linear;
  filter: drop-shadow(1px 1px 3px white);
}
.finish {
  position: absolute;
  bottom: 0;
  right: 0;
  width: var(--finish-width);
}

