.cars-buttons {
  margin-top: 10px;
  display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    &-engine,&-create,&-update {
      display: flex;
      gap: 5px;
      align-items: center;
    }
}

