:root {
  --finish-width: 70px;
}
html{
    background: url("assets/hero-image.webp") no-repeat center center fixed;
    background-size: cover;
}
body { font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
 }
ol, ul {
	list-style: none;
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
